<!DOCTYPE html>
<html lang="en">
<head>
	<script>
		var userState = JSON.parse(localStorage.getItem("userState"));
  		<!--if(userState != 2) TODO COMMENTED FOR TESTING
    		location.href= "login.html";-->
	</script>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Admin Panel" />
	<meta name="author" content="" />

	<link rel="icon" href="../images/logo-emissary.png">

	<title>Admin | Dashboard</title>

	<link rel="stylesheet" href="./../js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="./../assets/css/font-icons/entypo/css/entypo.css">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
	<link rel="stylesheet" href="./../css/bootstrap.css">
	<link rel="stylesheet" href="./../css/loader.css">

	<link rel="stylesheet" href="./../css/neon-core.css">
	<link rel="stylesheet" href="./../css/neon-theme.css">
	<link rel="stylesheet" href="./../css/neon-forms.css">
	<link rel="stylesheet" href="./../css/custom.css">
	<script src="./../js/jquery-1.11.3.min.js"></script>

    <!--[if lt IE 9]><script src="../js/ie8-responsive-file-warning.js"></script><![endif]-->

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

</head>
<body class="page-body" data-url="http://neon.dev">

<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

	<div class="sidebar-menu">

		<div class="sidebar-menu-inner">

			<header class="logo-env">

				<!-- logo -->
				<div class="logo">
					<a href="admin-dashboard.html">
						<img src="./../images/emissary.png" width="150" alt="" />
					</a>
				</div>

				<!-- logo collapse icon -->
				<div class="sidebar-collapse">
					<a href="#" class="sidebar-collapse-icon"><!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
						<i class="entypo-menu"></i>
					</a>
				</div>


				<!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
				<div class="sidebar-mobile-menu visible-xs">
					<a href="#" class="with-animation"><!-- add class "with-animation" to support animation -->
						<i class="entypo-menu"></i>
					</a>
				</div>

			</header>


			<ul id="main-menu" class="main-menu">
				<!-- add class "multiple-expanded" to allow multiple submenus to open -->
				<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
				<li>
					<a href="admin-dashboard.html">
						<span class="title">Admin Dashboard</span>
					</a>
				</li>
				<li>
					<a href="admin-companies.html">
						<span class="title">Companies</span>
					</a>
				</li>
				<li>
					<a href="admin-settings.html">
						<span class="title">Settings</span>
					</a>
				</li>
			</ul>

		</div>

	</div>

	<div class="main-content">

		<div class="row">

			<!-- Profile Info and Notifications -->
			<div class="col-md-6 col-sm-8 clearfix">

				<ul class="user-info pull-left pull-none-xsm">

					<!-- Profile Info -->
					<li class="profile-info dropdown"><!-- add class "pull-right" if you want to place this from right -->
						<a href="#" id="company-name">
							<h3>Admin Dashboard</h3>
						</a>
						<button id="auth-button" hidden>Authorize Google Analytics</button>
					</li>

				</ul>

			</div>


			<!-- Raw Links -->
			<div class="col-md-6 col-sm-4 clearfix hidden-xs">

				<ul class="list-inline links-list pull-right">
					<li>
						<a href="login.html">
							Log Out <i class="entypo-logout right"></i>
						</a>
					</li>
				</ul>

			</div>

		</div>

		<hr />

        <!-- Set up pie chart for paid vs. trial breakdown -->
        <script>
            $(function () {
                var options = {
                    chart: {
                        renderTo: 'container',
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    title: {
                        text: 'Breakdown of paid and trial clients'
                    },
                    series: [{
                        name: 'Paid vs. Trial',
                        data: [{
                            name: 'Paid',
                            y: numPaid
                        }, {
                            name: 'Trial',
                            y: numTrials
                        }]
                    }]
                }

                $(document).ready(function() {
                    var chart = new Highcharts.Chart(options);
                });

            });
        </script>

		<div class="row">

            <!-- Registered users -->
			<div class="col-sm-4 col-xs-12">
				<div class="tile-stats tile-red">
					<div class="icon"><i class="entypo-users"></i></div>
					<div id = "companyCount" class="num" data-start="83" data-end="83" data-postfix="" data-duration="1500" data-delay="0">0</div>

					<h3>Registered Users</h3>
					<p>Lifetime Total</p>
				</div>

                <!-- Conversion Rate -->
                <div class="tile-stats tile-orange">
                    <div class="icon"><i class="entypo-paper-plane"></i></div>
                    <div id = "convRate" class="num" data-start="37" data-end="37" data-postfix="" data-duration="1500" data-delay="600">37%
                    </div>

                    <h3>Conversion Rate</h3>
                    <p># of Signups/ # of Unique Landing Page Views</p>
                </div>
			</div>

			<div class="clear visible-xs"></div>

			<div class="col-sm-4 col-xs-12">

                <!-- Revenue Tile -->
                <div class="tile-block tile-green">

                    <div class="tile-header">
                        <i class="entypo-suitcase"></i>
                            Revenue Generated
                            <span>In the Past 30 days</span>
                    </div>

                    <div class="tile-content">
                        <div id = "revenueGenerated" class="num" data-start="0" data-end="540" data-postfix="" data-duration="1500" data-delay="1800">$540
                        </div>
                    </div>

                    <div class="tile-footer">
                        <button type="button" class="btn btn-block">Button</button>
                    </div>

                </div>

                <!-- Google Analytics -->
                <div class="tile-title tile-aqua">

                    <div class="icon">
                        <i class="entypo-chart-bar"></i>
                    </div>

                    <div class="title">
                        <h3>Google Analytics</h3>
                        <p></p>
                    </div>
                </div>

			</div>

            <div class="col-sm-4 col-xs-12">
                    <!-- Tile showing percent of paid -->
                    <div class="tile-stats tile-blue">
                        <div class="icon"><i class="entypo-credit-card"></i></div>
                        <div id = "clientPercent" class="num">65</div>
                        <p>of your current clients have paid subscriptions</p>
                    </div>

                    <!-- Pie chart for paid vs. trial breakdown -->
                    <div class="tile-stats tile-white tile-white-primary">
                        <div id="container" style="height: 450px; width: 450px; margin: 0 auto"></div>
                    </div>
            </div>
        </div>

        <br />
		<br />
		<br />



		<!-- Footer -->
		<footer class="main">

			&copy; 2015 <strong>Emissary</strong>

		</footer>
	</div>

</div>





	<!-- Bottom scripts (common) -->
	<script src="./../js/gsap/TweenMax.min.js"></script>
	<script src="./../js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
	<script src="./../js/bootstrap.js"></script>
	<script src="./../js/joinable.js"></script>
	<script src="./../js/resizeable.js"></script>
	<script src="./../js/neon-api.js"></script>


	<!-- JavaScripts initializations and stuff -->
	<script src="./../js/neon-custom.js"></script>


	<!-- Demo Settings -->
	<script src="./../js/admin-analytics.js"></script>
	<script src="https://apis.google.com/js/client.js?onload=authorize"></script>
</body>
</html>