<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Neon Admin Panel"/>
    <meta name="author" content=""/>

    <script src="../js/dropdown.js"></script>

    <link rel="icon" href="assets/images/logo-emissary.png">

    <title>pandappointments</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="assets/css/neon.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link rel="stylesheet" href="assets/native/css/index.css">
    <link rel="stylesheet" href="assets/js/slick/slick.css">
    <link rel="stylesheet" href="assets/js/slick/slick-theme.css">

    <!--[if lt IE 9]>
    <script src="assets/js/ie8-responsive-file-warning.js" async></script><![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" async></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js" async></script>
    <![endif]-->

    <!-- Google Analytics-->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-100002752-2', 'auto');
        ga('send', 'pageview');

    </script>

    <!-- Segment Analytics -->
    <script>
        !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="4.0.0";
            analytics.load("Rgd1CLwtdJKn2DAxLpqIkzu7dbYzJs74");
            analytics.page();
        }}();
    </script>

</head>
<body>
<div class="container">
    <nav class="site-nav">
        <ul class="main-menu hidden-xs" id="main-menu">
            <li class="active">
                <a href="index.html">
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="#features">
                    <span>Features</span>
                </a>
            </li>
            <li>
                <a href="#pricing">
                    <span>Pricing</span>
                </a>
            </li>
            <li>
                <a href="login.html">
                    <span>Login</span>
                </a>
            </li>
            <li>
                <a href="signup.html">
                    <span>Sign-Up</span>
                </a>
            </li>
        </ul>

        <div class="visible-xs">
            <a href="#" onclick="toggleDropdown()" class="menu-trigger">
                <i onclick="toggleDropdown()" class="entypo-menu"></i>
            </a>

            <div id="dropdown" class="dropdown-content">
                <a href="#features">Features</a>
                <a href="#pricing">Pricing</a>
                <a href="login.html">Login</a>
                <a href="signup.html">Sign Up</a>
            </div>
        </div>
    </nav>

    <div class="opener">
    <br>
        <p id="tagline">The old rules of waiting are over.</p>
        <br>
        <p id="supporting-text">Let us help you revolutionize your patient waiting experience with effortless check in, arrival notifications, and appointment integration for your office.</p>

        <img id="logo" src="images/logo_black.png" width="300" alt="" />
        <br>
        <div class="callout-button">
            <a href="signup.html"
               class="btn btn-danger">Sign-Up</a>
        </div>
    </div>

    <br><br><br>
    <a name="features"></a>
    <div class="features row">

        <div class="col-sm-4 feature">
            <h3>
                <i class="fa fa-3x fa-calendar"></i>
                Scheduling
            </h3>

            <p>
                Intuitively make appointments with your clients using our scheduler, and see the day's work displayed for you each morning.
            </p>
        </div>

        <div class="col-sm-4 feature">
            <h3>
                <i class="fa fa-3x fa-users"></i>
                Check In
            </h3>

            <p>
                Your clients can check in by themselves, freeing your employees to manage the office.
            </p>
        </div>

        <div class="col-sm-4 feature">
            <h3>
                <i class="fa fa-3x fa-slack"></i>
                Slack
            </h3>

            <p>
                Integrate your notifications into Slack,
                so every part of your workflow is
                connected.
            </p>
        </div>

    </div>

    <a name="pricing"></a>
    <div class="pricing">
            <div class="row">
                <div class="col-md-2 col-lg-2">
                </div>

                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                    <div class="panel price panel-green">
                        <div class="panel-heading arrow_box text-center">
                            <h3>FREE TRIAL</h3>
                        </div>

                        <!--Pricing-->
                        <div class="panel-body text-center">
                            <p class="lead price-text"><strong>$0 / month</strong></p>
                        </div>

                        <!-- Features -->
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item"><i class="fa fa-check" id="chartCheck"></i> Customize Forms</li>
                            <li class="list-group-item"><i class="fa fa-times" id="chartX"></i> Unlimited Employees</li>
                            <li class="list-group-item"><i class="fa fa-times" id="chartX"></i> Unlimited Devices</li>
                            <li class="list-group-item"><i class="fa fa-times" id="chartX"></i> 24/7 Support</li>
                        </ul>

                        <!-- Button (Currently no function) -->
                        <div class="panel-footer">
                                <a class="btn btn-lg btn-block btn-success sign2Btn" href="signup.html" onclick="sign2Click()">SIGN UP!</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                    <div class="panel price panel-red">
                        <div class="panel-heading  text-center">
                            <h3>PREMIUM</h3>
                        </div>

                        <!--Cost-->
                        <div class="panel-body text-center">
                            <p class="lead price-text"><strong>$20 / month</strong></p>
                        </div>

                        <!-- Features -->
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item"><i class="fa fa-check" id="chartCheck"></i> Customize Forms</li>
                            <li class="list-group-item"><i class="fa fa-check" id="chartCheck"></i> Unlimited Employees</li>
                            <li class="list-group-item"><i class="fa fa-check" id="chartCheck"></i> Unlimited Devices</li>
                            <li class="list-group-item"><i class="fa fa-check" id="chartCheck"></i> 24/7 Support</li>
                        </ul>

                        <!--Button to purchase (No Function)-->
                        <div class="panel-footer">
                                <a class="btn btn-lg btn-block btn-danger buyBtn" href="signup.html">BUY NOW!</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-lg-2">
                </div>
            </div> <!-- ROW -->

    </div> <!-- PRICING -->

    <a name="testimonials"></a>
<div class="col-sm-12">
    <div class="testimonials">

        <div class="testimonial-carousel">
        <div class = "testimonial">
            <img src="assets/images/testimonial-1.png"/>
            <blockquote>
                <p>
                    With a limited budget and tight schedule, this check-in app really saved me time and cost to run the dental clinic I just opened up. Thank you, pandappointments. You’re a life-saver.
                </p>
                <small>
                    <cite>Dr. Jennifer Kim, DDS | San Francisco, California</cite>
                </small>
            </blockquote>
        </div>
        <div class = "testimonial">
            <img src="assets/images/testimonial-2.png"/>
            <blockquote>
                <p>
                    pandappointments is truly an aesthetic experience, I love how intuitive and modern the design is. Making appointments and checking in has never been easier.
                </p>
                <small>
                    <cite>Betty Johnson | Stockholm, Sweden</cite>
                </small>
            </blockquote>
        </div>
        <div class = "testimonial">
            <img src="assets/images/testimonial-3.png"/>
            <blockquote>
                <p>
                    I can’t believe how much time I saved using pandappointments. It was truly a breathe of fresh air. Never again will I have to deal with the hassle of a grumpy receptionist and a clipboard!
                </p>
                <small>
                    <cite>Joel Spolsky | Kathmandu, Nepal</cite>
                </small>
            </blockquote>
        </div>
        <div class = "testimonial">
            <img src="assets/images/testimonial-4.png"/>
            <blockquote>
                <p>
                    Wow! pandappointments was the perfect addition to our offices! It’s elegant, fast, and our customers absolutely love it! The team’s continued support and commitment to excellence has made me a life-long customer. I bought ten!
                </p>
                <small>
                    <cite>Bill Gates | Medina, Washington</cite>
                </small>
            </blockquote>
        </div>
        </div>
    </div>
    </div>
    

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="assets/js/slick/slick.min.js"></script>

    <script type="text/javascript">
        $(".testimonial-carousel").slick({
            arrows: true,
            dots: true,
        });
    </script>

    <!--    FOOTER   -->
    <div class="footer">
        <div class="row">

            <div class="col-sm-4">

                <a href="#">
                    <img src="assets/images/logo_black.png" width="200"/>
                </a>

                <p>
                    Checking In Made Simple.
                </p>

            </div>

            <div class="col-sm-4">

                <p>
                    UC San Diego <br/>
                    9500 Gilman Dr., <br/>
                    La Jolla, CA 92093
                </p>

            </div>

            <div class="col-sm-4">

                <p>
                    Phone: +1 (858) 123-456 <br/>
                    Fax: +1 (858) 654-321 <br/>
                    info@pandappointments.com
                </p>

            </div>

        </div> <!-- row -->
    </div>

</div> <!-- CONTAINER -->
</body>
<script src="assets/js/jquery-1.11.3.min.js"></script>
<script src="assets/js/gsap/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>
<script src="assets/js/joinable.js"></script>
<script src="assets/js/resizeable.js"></script>
<script src="assets/js/neon-slider.js"></script>
<script src="assets/js/neon-custom.js"></script>

</html>